body {
  background: url("./mountains.webp") no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
}

.random-colors {
  margin: 0 2%;
  border-radius: 50%;
  width: 20%;
  height: 20%;
  opacity: 0.5;
  /* background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  ); */
}
